section#contact{
    border-top: 2px solid #eab24a;
    margin-top: 50px;
    margin-bottom: 50px;
    h2{
        position: relative;
        top: -30px;
        display: inline-block;
        padding: 0 30px;
        background-color: #39393c;
    }
}