section#experience {
    

    h2{
        position: relative;
        top:-25px;
    }

    .timeLine{
        .item{
            display: flex;
            opacity: 0;
            transition: all .3s ease-in-out;
            top: -50px;
            &:nth-child(2){transition-delay: .4s;}
            &:nth-child(3){transition-delay: .6s;}
            line:nth-child(2){transition-delay: .4s;}
            line:nth-child(3){transition-delay: .6s;}
            .date{
                padding-right: 15px;
                display: flex;
                position: relative;
                top: 3px;
             span.year{
                background-color: #5C5D61;
                padding: 0 10px;
                height: 30px;
                display: inline-block;
                line-height: 30px;
            }
            span.arrow{
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 0 15px 10px;
                border-color: transparent transparent transparent #5C5D61;
            }
        }
        .separator{
            display: flex;
            flex-direction: column;
            .dot{
                width: 25px;
                height: 25px;
                background-color: #eab24a;
                border-radius: 50%;
                box-shadow: 0 0 20px #eab24a;
                margin-top: 3px;
            }
            .line{
                min-height: 10px;
                width: 2px;
                background-color: #fff;
                flex-grow: 1;
                margin-left: 12px;
                margin-top: 20px;
                margin-bottom: 20px;
                transition: all .5s ease-in-out;
                max-height: 0;
            }
        }
        .texts{
            padding-left: 20px;
            padding-bottom: 20px;
            h3{
                font-size: 1.6rem;
                font-weight: normal;
            }
            h4{
                margin-top: 4px;
                margin-bottom: 4px;
                font-size: 1.2rem;
                font-weight: normal;
            }
            p{
                color: rgba(255, 255, 255, 0.55);
                line-height: 1.3rem;
                margin-top: 10px;
            }
        }
        }
    }
}
section#experience.visible .item {
    opacity: 1;
    top: 0;
}
section#experience.visible .item .separator .line {
    max-height: 100%;
}
