section#portfolio{
    background-color: #313338;
    padding-bottom: 100px;
}
.box-container{
    margin: 10px;
}
.box{
    gap: 10px;
    opacity: 0;
    position: relative;
    transition: all 1s linear;
    top: -50px;
}
section#portfolio.visible .box {
    opacity: 1;
    top: 0;
}
.box2{
    gap: 10px;
    opacity: 0;
    position: relative;
    transition: all 1s linear;
    bottom: -50px;
}
section#portfolio.visible .box2 {
    opacity: 1;
    bottom: 0;
}

